* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsl(11, 11%, 81%);
}

.title, .sub-title {
    text-align: center;
    font-size: 60px;
}

.title, .sub-title, a, h2 {
    color: hsl(22, 17%, 44%);
}

.vainilla-pie-img {
    float: right;
    height: 400px;
    width: 800px;
}

.intro-paragraph {
    font-size: 47px;
}

.intro-paragraph, li, p {
    color: hsl(22, 27%, 48%);
}

.a-recipe, a {
    list-style-type: none;
    text-decoration: none;
}

a, h2 {
    font-size: 30px;
    font-weight: 700
}

.cake-img {
    height: auto;
    height: 700px;
    width: 1290px;
    display: block; margin-left: auto; margin-right: auto;
}

.info-paragraph {
    font-size: 20px;
}

.ingredients, .steps {
    font-size: 25px;
}
